In [1]:
import pandas as pd 
import numpy as np

In [2]:
raw = pd.read_csv('./IR_WS_Dist.csv')

In [5]:
raw['period_end'] = pd.to_datetime(raw['period_end'])
raw['month_name'] = raw['period_end'].dt.strftime('%B')
raw.head()

   dhi  dni  ghi  gti  wind_speed_100m                period_end month_name
0    0    0    0    0              7.1 2020-01-01 01:00:00+00:00    January
1    0    0    0    0              7.2 2020-01-01 02:00:00+00:00    January
2    0    0    0    0              7.4 2020-01-01 03:00:00+00:00    January
3    0    0    0    0              7.5 2020-01-01 04:00:00+00:00    January
4    0    0    0    0              7.5 2020-01-01 05:00:00+00:00    January

In [7]:
factor_set = raw[['month_name','ghi','wind_speed_100m']]
factor_set.head()

  month_name  ghi  wind_speed_100m
0    January    0              7.1
1    January    0              7.2
2    January    0              7.4
3    January    0              7.5
4    January    0              7.5

In [24]:
# Take 1000 random samples grouped by month
random_samples = factor_set.groupby('month_name').apply(lambda x: x.sample(1000, replace=False))

# Display the resulting DataFrame
random_samples.head()

                 month_name  ghi  wind_speed_100m
month_name
April      11113      April    0              3.5
           11030      April  644              2.9
           11353      April    0              2.7
           2535       April  651              7.0
           28825      April    0              0.4

In [26]:
random_samples.reset_index(level='month_name', drop=True)

      month_name  ghi  wind_speed_100m
11113      April    0              3.5
11030      April  644              2.9
11353      April    0              2.7
2535       April  651              7.0
28825      April    0              0.4
...          ...  ...              ...
23876  September  238              4.7
23447  September    8              3.5
23492  September   69              3.6
23634  September  107              4.2
6414   September    0              3.4

[12000 rows x 3 columns]

In [32]:
grouped_samples = random_samples.groupby('month_name').apply(lambda x: pd.DataFrame({
    'ghi': x['ghi'],
    'ghi_probability': x['ghi'] / x['ghi'].sum(),
    'wind_speed_100m': x['wind_speed_100m'],
    'wind_speed_probability': x['wind_speed_100m'] / x['wind_speed_100m'].sum()
}))

ValueError: 'month_name' is both an index level and a column label, which is ambiguous.

In [23]:
grouped_samples.head()

   index       ghi  ghi_probability  wind_speed_100m  wind_speed_probability
0      0  0.726801         0.644427         0.834531                0.689426
1      1  0.401023         0.355573         0.375941                0.310574
2      2  0.119415         0.254532         0.736990                0.780718
3      3  0.349740         0.745468         0.207000                0.219282
4      4  0.956100         0.615179         0.203059                0.296756